[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
llbase = "*"
certifi = "*"
autobuild = {git = "https://git.alchemyviewer.org/cinderblocks/autobuild-hatecrew.git", ref = "v2.1.3"}

